name: Build the docker image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag pgbouncer-container:$(cat ./Dockerfile | grep -Po 'version="\K.*?(?=")')-$(date +%s)
