name: Build and release the docker image

on:
  release:
    types: [ published ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Build the Docker image
      run: docker build . -t z9pascal/pgbouncer-container:$(cat ./Dockerfile | grep -Po 'version="\K.*?(?=")')-latest

    - name: Release the Docker image
      run: echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u z9pascal --password-stdin && docker push z9pascal/pgbouncer-container:$(cat ./Dockerfile | grep -Po 'version="\K.*?(?=")')-latest
